# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Python cache
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# TensorFlow
*.h5

# Local environment
.env

# System files
desktop.ini